{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Вход</title>
</head>
<body>
    <div class="desktop-background"></div>
    <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1>Вход</h1>
        <input type="text" name="username" id="username" placeholder="Логин">
        <input type="password" name="password" id="password" placeholder="Пароль">
        <button type="submit" class="submit-button">Войти</button>
    </form>
</body>
</html>